<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-3" style='display:inline;'>
            <select class="form-control" ng-options="key as (value) for (key, value) in catalog.affiliates" ng-model="form.extras[$index].affiliate" required autofocus autocomplete="off">
            </select>
        </div>
        <div class="col-xs-2" style='display:inline;'>
            <span class="form-control">{{ catalog.affiliatesdob[form.extras[$index].affiliate] }}</span>
        </div>
        <div class="col-xs-3" style='display:inline;'>
            <select class="form-control" ng-options="key as (value) for (key, value) in catalog.type_extra" ng-model="form.extras[$index].type" required autofocus autocomplete="off">
            </select>
        </div>
        <div class="col-xs-3" style='display:inline;'>
            <textarea class="form-control" ng-model="form.extras[$index].description" placeholder="Descripción" ng-required='1' rows="3"></textarea>
        </div>
        <div>
            <button ng-if="!viewprocess" class="col-xs-1 btn btn-danger" style='display:inline;' ng-click="deleteExtras(extra)">
                <i class='glyphicon glyphicon-remove'></i>
            </button>
        </div>
    </div>
</div>
<br>
