<div class="row">
	<div class="form-group" >
		<label for="form['groupDocuments'][$index]['reasons']" class="col-xs-12 col-sm-3 control-label ng-binding">Motivo</label>
		<div class="col-xs-12 col-sm-9 col-md-6">
				<input  
				class="form-control" 
				type="text" 
				ng-model="form['groupDocuments'][$index]['reasons']" 
				ng-init="form['groupDocuments'][$index]['reasons']" 
				placeholder="" 
				ng-required="1" 
				ng-disabled="" 
				focus="true" 
				ng-readonly="" 
				autocomplete="off" required="required" style=""><!-- end ngSwitchWhen:  -->
		</div>
	</div>
	<div class="form-group" >
		<label for="form['groupDocuments'][$index]['documents']" class="col-xs-12 col-sm-3 control-label ng-binding">Documentos</label>
		<div class="col-xs-12 col-sm-9 col-md-6">
				<textarea 
	            class="form-control"
	            ng-model="form['groupDocuments'][$index]['documents']"
	            ng-init="form['groupDocuments'][$index]['documents']"
	            ng-required='1'
	            rows="3"></textarea>
		</div>
	</div>
	<input type="hidden" value="form['groupDocuments'][$index]['IDs']">
</div>