<div class="modal-backdrop">
	<div class="modal bs-example-modal-lg in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: block; /*padding-right: 17px;*/">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" ui-sref="^" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myLargeModalLabel">
						Ticket - Crear Ticket
					</h4>
				</div>
				<div class="modal-body">
				    <form name="modalForm" class="form-horizontal clearfix" ng-submit="">
						<div class="form-section">
							<h5 >
								<span>Datos Ticket</span>
							</h5>
							<div class="container-fluid con-margin">	
								<div class="row">
									<div class="form-group" ng-class="{'highlight': focused[policy_id], 'invalid' : !modalForm[policy_id].$valid && modalForm[policy_id].$touched}">
									    <label for="policy_id" class="col-xs-12 col-sm-3 control-label">Poliza:</label>
									    <div class="col-xs-12 col-sm-9 col-md-6">
									    	<select
								                class="form-control"
								                ng-options="key as (value) for (key, value) in catalog.policy_id" 
								                ng-model="form.policy_id"
								                ng-init="form.policy_id"
								                required
								                ng-disabled="viewprocess"
								                autofocus autocomplete="off">
								            </select>
									    </div>
								    </div>
								    <div class="form-group" ng-class="{'highlight': focused[ticket_cat_id], 'invalid' : !modalForm[ticket_cat_id].$valid 
								    && modalForm[ticket_cat_id].$touched}">
									    <label for="ticket_cat_id" class="col-xs-12 col-sm-3 control-label">Categoria:</label>
									    <div class="col-xs-12 col-sm-9 col-md-6">
									    	<select
								                class="form-control"
								                ng-options="key as (value) for (key, value) in catalog.ticket_cat_id" 
								                ng-model="form.ticket_cat_id"
								                ng-change="selectTypeTicket(form.ticket_cat_id)"
								                ng-init="form.ticket_cat_id"
								                required
								                ng-disabled="viewprocess"
								                autofocus autocomplete="off">
								            </select>
									    </div>
								    </div>
								    <div class="form-group" ng-class="{'highlight': focused[type_ticket], 'invalid' : !modalForm[type_ticket].$valid 
								    && modalForm[type_ticket].$touched}">
									    <label for="type_ticket" class="col-xs-12 col-sm-3 control-label">Tipo Ticket:</label>
									    <div class="col-xs-12 col-sm-9 col-md-6">
									    	<select
								                class="form-control"
								                ng-options="key as (value) for (key, value) in typeTicket" 
								                ng-model="form.type_ticket"
								                ng-init="form.type_ticket"
								                required
								                ng-disabled="viewprocess"
								                autofocus autocomplete="off">
								            </select>
									    </div>
								    </div>
								    <div class="form-group" ng-class="{'highlight': focused[tramiteassociated], 'invalid' : !modalForm[tramiteassociated].$valid && modalForm[tramiteassociated].$touched}">
									    <label for="tramiteassociated" class="col-xs-12 col-sm-3 control-label">Asociado Tramite:</label>
									    <div class="col-xs-12 col-sm-9 col-md-6">
									    	<input type="checkbox"
									    		   class="form-control"
											       ng-model="form.tramiteassociated",
											       name="tramiteassociated">
									    </div>
								    </div>
								    <div ng-if="form.tramiteassociated" class="form-group" ng-class="{'highlight': focused[table_type], 'invalid' : !modalForm[table_type].$valid && modalForm[table_type].$touched}">
									    <label for="table_type" class="col-xs-12 col-sm-3 control-label"> Tipo Tramite:</label>
									    <div class="col-xs-12 col-sm-9 col-md-6">
									    	<select 
									            class="form-control"
									            ng-options="key as (value) for (key, value) in catalog.table_type"
									            ng-model="form.table_type"
									            ng-change="selectIdType(form.table_type)"
									            ng-init="form.table_type"
									            ng-required=1
									            focus="{{$parent.$parent.$first && $first}}"
									            ng-disabled="viewprocess"
									            ng-blur="focused[table_type] = false" autocomplete="off">
									        </select>
									    </div>
								    </div>
								     <div ng-if="form.tramiteassociated" class="form-group" ng-class="{'highlight': focused[table_id], 'invalid' : !modalForm[table_id].$valid && modalForm[table_id].$touched}">
									    <label for="table_id" class="col-xs-12 col-sm-3 control-label"># Tramite:</label>
									    <div class="col-xs-12 col-sm-9 col-md-6">
									    	<select 
									            class="form-control"
									            ng-options="key as (value) for (key, value) in tiposTramite "
									            ng-model="form.table_id"
									            ng-init="form.table_id"
									            ng-required=1
									            focus="{{$parent.$parent.$first && $first}}"
									            ng-disabled="viewprocess"
									            ng-blur="focused[table_id] = false" autocomplete="off">
									            <option value="">--Elige opcion--</option>
									        </select>
									    </div>
								    </div>
								    <div class="form-group" ng-class="{'highlight': focused[short_desc], 'invalid' : !modalForm[short_desc].$valid 
								    && modalForm[short_desc].$touched}">
									    <label for="short_desc" class="col-xs-12 col-sm-3 control-label">Descripcion:</label>
									    <div class="col-xs-12 col-sm-9 col-md-6">
									    	<input 
									            class="form-control"
									            type="text"
									            id="short_desc"
									            value="{{ form.name }}"
									            name="short_desc"
									            ng-model="form.short_desc"
									            ng-init="form.short_desc"
									            placeholder="Descripcion"
									            ng-required=1
									            focus="{{$parent.$parent.$first && $first}}"
									            ng-disabled="viewprocess"
									            autocomplete="off">
									    </div>
								    </div>
								 </div>
							</div>
						</div>
				    </form>
				</div>
				<div class="modal-footer">
					<div >
						<input type="submit" ng-click="submit()"  value="Enviar" class="btn btn-primary pull-right" >
					</div>
					<a ui-sref="^" class="btn btn-link pull-right">Regresar</a>
				</div>
			</div>
		</div>
	</div>
</div>